<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      {{title}}
    </title>
    {% if description %}
      <meta name="description" content="{{description}}"/>
    {% endif %}
    {% block head %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="/static/css/fontawesome.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/tailwind.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Raleway:400,800,900"/>
    {% if prism == true %}
      <link rel="stylesheet" type="text/css" href="/static/css/prism-tomorrow.css">
    {% endif %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    <script src="/output/main.bundle.js"></script>
  </head>
  <body>
    <div id="wrapper">
        <bfi-navigation></bfi-navigation>
        {% if path == "home" %}
          {% include "./partials/posts.html" %}
        {% else %}

          {{ content | safe }}
        
        {% endif %}
      </div>
  </body>
</html>